body {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  background:rgb(223, 216, 215);
  color:rgb(124, 97, 122);
  font-family: georgia;
  }
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(124, 97, 122);
    color:rgb(223, 216, 215);
  }
}
}
section.opening {
  display: block;
  margin: auto;
  font-size: 120%;
}
#welcome {
  font-weight: bold;
  font-size: 250%;
  text-decoration: underline;
  text-align: center;
}
h2{
  font-size: 180%;
}
div.list {
  display:inline-block;
  vertical-align: text-top;
  width: 300px;
  padding: 5px;
  margin: 10px 80px;
  z-index: 10;
}

.extra_info {
  position:relative;
padding: 0;}

#sidebar {
    position:absolute;
    top:0; bottom:0; right:0;
    background-color: rgb(200, 165, 140)
}

article{
  display: inline-block;
  width: 200px;
  height: 650px;
  border: 1px solid rgb(124, 97, 122);
  padding: 10px;
  margin: 5px;
  font-family: arial;
}
a:visited {color: green;}
a:hover {color: hotpink;}
a:active {color: red;}

#info_form{
display: block;
text-align: center;
border: 1px solid rgb(124, 97, 122);
  margin: 20px;
  padding: 10px 20px 20px 20px;
  background-image:url("bridge_images/howrahbridgesketch.jpg");
  z-index: 20;
}